<div class="show-logs">
    <div class="row">
        <div class="col-md-12">
            <div class="title-page">
            Log Details
            </div>
        </div>
    </div>

    <div class="row row-eq-height">
        <div class="col-md-3">
            <div class="border-top-blue">
                <div class="table-result">
                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>
                                        <div style="display:block; float:left; padding-top:10px;">ID</div>
                                        <div style="display:block; float:right; width:85%;padding-top:15px;">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" [(ngModel)]="sampleId" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="searchSampleId()" type="button" style="background-color: white;">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                        
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of arraySampleId.content,let i=index" 
                                    (click)="rowClick(item)"
                                    [ngStyle]="{'background-color': i == position ? '#f2dede' : '' }"
                                    >
                                    <!-- [ngStyle]="{'background-color':item.selected ? '#f2dede' : '' }" -->
                                        <td>
                                            {{item}}
                                        </td>

                                    </tr>
                                </tbody>
                                <!-- <tfoot>                    
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>                    
                                </tfoot>                                 -->
                            </table>
                            <pagination *ngIf="(arraySampleId.count>0)" 
                                (onChangePage)="changePage($event)" 
                                [showPageSize]="(false)" 
                                [showTotal]="(true)"
                                [(pager)]="pager">
                            </pagination>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="border-top-blue">
                <div class="table-result">
                    <table class="table-log table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Action</th>
                                    <th>Status</th>
                                    <th>Action Date</th>
                                    <th></th>                       
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arrayDetail,let i=index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        {{item.action}}
                                    </td>
                                    <td>
                                        {{item.status}}
                                    </td>
                                    <td>
                                        {{item.actionDate | dateFormatHTML}}
                                    </td>
                                    <td>
                                        <!-- {{item.stack}} -->
                                        <button type="button" class="btn btn-md btn-outline-primary btn-md-text" data-toggle="modal" 
                                        data-backdrop="static" data-keyboard="false" data-target="#select-stacktrace" (click)="showStackTrace(item)">
                                        Detail
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="select-stacktrace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <popup-stack-trace (closeModal)="getDataStackTrace($event)"></popup-stack-trace>
    </div>
  </div>