.pagination > li > a, .pagination > li > span{
    text-decoration: none !important;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    float: right;
    font-size: 11px;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .7rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #005bac;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
 
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #005bac;
    border-color: #005bac;
}